package components

templ PageMessaging() {
	<!DOCTYPE html>
	<html>
		@HeaderComponent("")
		@PageWrapper(MessagingPageContent())
	</html>
}

templ MessagingPageContent() {
	WIP -- Messaging PAGE -- WIP
}
