package components

templ PageHouses(pwi SPageWrapper) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@HousesPageContent()
		}
	}
}

templ HousesPageContent() {
	WIP -- Houses PAGE -- WIP
}
