package components

import "roommates/db/dbqueries"

templ PageMain(pwi SPageWrapper, houses []dbqueries.UserHousesRow) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@MainPageContent(houses)
		}
	}
}

templ MainPageContent(houses []dbqueries.UserHousesRow) {
	@houseModal(EModal)
	@houseAside(houses)
	<div class="bg-secondary content">
		LUUKE THERE IS NOTHING
	</div>
}
