package components

templ PagePayments(pwi SPageWrapper) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@PaymentsPageContent()
		}
	}
}

templ PaymentsPageContent() {
	WIP -- Payments PAGE -- WIP
}
