package components

templ PageNotes(pwi SPageWrapper) {
	@HtmlWrap(templ.Join(
		HeaderComponent(""),
		PageWrapper(pwi, NotesPageContent()),
	))
}

templ NotesPageContent() {
	WIP -- Notes PAGE -- WIP
}
