package components

templ PageProfile(pwi SPageWrapper) {
	@HtmlWrap(templ.Join(
		HeaderComponent(""),
		PageWrapper(pwi, ProfilePageContent()),
	))
}

templ ProfilePageContent() {
	WIP -- PROFILE PAGE -- WIP
}
