package components

templ PageProfile(pwi SPageWrapper) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@ProfilePageContent()
		}
	}
}

templ ProfilePageContent() {
	WIP -- PROFILE PAGE -- WIP
}
