package components

templ PagePayments() {
	<!DOCTYPE html>
	<html>
		@HeaderComponent("")
		@PageWrapper(PaymentsPageContent())
	</html>
}

templ PaymentsPageContent() {
	WIP -- Payments PAGE -- WIP
}
