package components

import "roommates/db/dbqueries"

templ PageNotes(pwi SPageWrapper, houses []dbqueries.SelectUserHousesWithNotesRow) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@NotesPageContent(houses)
		}
	}
}

templ NotesPageContent(houses []dbqueries.SelectUserHousesWithNotesRow) {
	<div class="p-8">
		<ul class="uk-accordion space-y-1" data-uk-accordion="multiple: true">
			for _, house := range houses {
				@noteHouseAccordionLi(house)
			}
		</ul>
	</div>
}
