package components

templ PageNotes(pwi SPageWrapper) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@NotesPageContent()
		}
	}
}

templ NotesPageContent() {
	WIP -- Notes PAGE -- WIP
}
