package components

templ PageMessaging(pwi SPageWrapper) {
	@HtmlWrap() {
		@HeaderComponent("")
		@PageWrapper(pwi) {
			@MessagingPageContent()
		}
	}
}

templ MessagingPageContent() {
	WIP -- Messaging PAGE -- WIP
}
