.dark\:block:where(.dark, .dark *) {
  display: block;
}
.dark\:hidden:where(.dark, .dark *) {
  display: none;
}
.dark\:inline-block:where(.dark, .dark *) {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.max-md\:hidden {
  @media (width < 48rem /* 768px */) {
    display: none;
  }
}
.max-sm\:hidden {
  @media (width < 40rem /* 640px */) {
    display: none;
  }
}
.max-sm\:block {
  @media (width < 40rem /* 640px */) {
    display: block;
  }
}

#root-layout > .grid-aside-content {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-areas: 'content';
}
@media (width>=48rem) {
  #root-layout > .grid-aside-content {
    display: grid;
    grid-template-columns: 18rem minmax(0, 1fr);
    grid-template-areas: 'aside content';
    min-height: 100dvh;
  }

  #root-layout > .grid-aside-content > aside {
    grid-area: aside;
  }

  #root-layout > .grid-aside-content > .content {
    grid-area: content;
  }
}

/* ----- ANIMATIONS ----- */
.animate-spin {
  animation: spin 1s linear infinite
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
