.dark\:block:where(.dark, .dark *) {
  display: block;
}
.dark\:hidden:where(.dark, .dark *) {
  display: none;
}
.dark\:inline-block:where(.dark, .dark *) {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.max-md\:hidden {
  @media (width < 48rem /* 768px */) {
    display: none;
  }
}
.max-sm\:hidden {
  @media (width < 40rem /* 640px */) {
    display: none;
  }
}
.max-sm\:block {
  @media (width < 40rem /* 640px */) {
    display: block;
  }
}

#root-layout {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-areas: 'content';
}
@media (width>=48rem) {
  #root-layout {
    grid-template-columns: 18rem minmax(0, 1fr);
    grid-template-areas: 'aside content';
  }
}
#root-layout > aside {
  grid-area: aside;
}
#root-layout > .content {
  grid-area: content;
}
